<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Supercar - produs</title>
    <%- include("../fragmente/head") %>
    <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <%- include("../fragmente/header") %>

    <main>
      <section>
        <h2>Pagina produs</h2>
        <article id="art-produs">
          <h3><span class="nume"><%- locals.prod.nume %></span></h3>
          <p class="brand">
            Brand: <span class="val-brand"><%- prod.brand %></span>
          </p>
          <p>
            Pret:
            <span class="pret"><%- locals.prod.pret.slice(0, -3) %>$</span>
          </p>
          <p>
            Descriere:
            <span class="descriere"><%- locals.prod.descriere %> </span>
          </p>
          <p>
            Categorie:
            <span class="categorie"><%- locals.prod.categorie %> </span>
          </p>
          <p>
            Decapotabil:
            <span class="decapotabil"
              ><%- locals.prod.decapotabil ? "da" : "nu" %>
            </span>
          </p>
          <p class="capacitate-cilindrica">
            Capacitate cilindrica:
            <span class="val-capacitate-cilindrica"
              ><%- prod.capacitate_cilindrica %> cm<sup>3</sup></span
            >
          </p>
          <p class="tuning">
            Optiuni tuning:
            <span class="val-optiuni-tuning"
              ><%- prod.optiuni_tuning.length != 0 ?
              prod.optiuni_tuning.join(",") : "nu are"%></span
            >
          </p>
          <p>
            Data adăugare:
            <span class="data_adaugare"
              ><%- locals.prod.data_adaugare.toLocaleDateString('ro-RO', {
              weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
              %>
            </span>
          </p>
          <figure class="imag-produs">
            <img
              src="/resurse/imagini/produse/<%- locals.prod.imagine %>"
              alt="[imagine <%- locals.prod.nume %>]"
            />
          </figure>
        </article>
      </section>
    </main>

    <%- include("../fragmente/footer") %>
  </body>
</html>
